---
layout: page
---
<!-- <!doctype html> -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- my functions -->
<script>
    function colorize(val, type) {
    // document.write('<span class="badge rounded-pill text-bg-success"> Success </span>');
    switch(type){
        case 'difficulty':
            if (val < 2) {
                document.write('<span class="badge rounded-pill text-bg-success"> Difficulty: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger"> Difficulty: '+ val +'</span>')
            }
            break;
        case 'workload':
            if (val < 15) {
                document.write('<span class="badge rounded-pill text-bg-success"> Workload: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger"> Workload: '+ val +'</span>')
            }
            break;
        case 'rating':
            if (val > 2 ) {
                document.write('<span class="badge rounded-pill text-bg-success"> Rating: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger"> Rating: '+ val +'</span>')
            }
            break;
        
    }
    }
    function get_semester_name(semester_id){
        var semester_ = semester_id.split('-')
        if (semester_[1] == '1'){
            document.write('Spring, '+semester_[0])
        }
        else if (semester_[1] == '2'){
            document.write('Summer, '+semester_[0])
        }
        else {
            document.write('Fall, '+semester_[0])
        }
    }
</script>

</head>

<body>
    <ul>

    <!-- course stats -->
    <table class ='table'>
        <tr>
            <th>
                Aliases
            </th>
            <th>
                Avg. Diff
            </th>
            <th>
                Avg. Workload
            </th>
            <th>
                Avg. Rating
            </th>
        </tr>
        <tr>
            <td>
                {{ page.aliases }}
            </td>
            <td>
                <script> colorize('{{ page.avg_difficulty }}', 'difficulty'); </script>
            </td>
            <td>
                <script> colorize('{{ page.avg_workload }}', 'workload'); </script>
            </td>
            <td>
                <script> colorize('{{ page.avg_rating }}', 'rating'); </script>
            </td>
        </tr>            
        </tr>
    </table>
    <h3>Reviews</h3>
    <br>
    <!--  -->
    {% for member in site.data.reviews %}
        {% if member.course_id == page.course_id %}
            <div class="card">
                <div class="mw-100">
                    <div class="card-header">
                        Semester: <script> get_semester_name('{{ member.semester_id }}') </script>
                    </div>
                    <div class="card-body">
                        <!-- TODO: AI Generated Title  -->
                        <!-- <h5 class="card-title">AI Generated Title</h5> -->
                        <!-- Course difficulty, etc -->
                        <script> colorize('{{ member.difficulty }}', 'difficulty'); </script>
                        <script> colorize('{{ member.workload }}', 'workload'); </script>
                        <script> colorize('{{ member.rating }}', 'rating'); </script>
                        <p class="card-text">
                            {{ member.body | markdownify }}
                        </p>
     
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
    </ul>


</body>

</html>