---
layout: default
---

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<script>
  // converts aliases str to useful one: '['A1', 'A2']' --> 'A1, A2'
  function get_pretty_aliases(aliases){
    var pretty_aliases = aliases.replace("[", "").replace("]", "")
    var pretty_aliases = pretty_aliases.replaceAll("\"", "")
    document.write(pretty_aliases)
  }
  function colorize(val, type) {
    // document.write('<span class="badge rounded-pill text-bg-success"> Success </span>');
    switch(type){
        case 'difficulty':
            if (val < 3) {
                document.write('<span class="badge rounded-pill text-bg-success">diff: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger">diff: '+ val +'</span>')
            }
            break;
        case 'workload':
            if (val < 15) {
                document.write('<span class="badge rounded-pill text-bg-success">wl: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger">wl: '+ val +'</span>')
            }
            break;
        case 'rating':
            if (val > 3 ) {
                document.write('<span class="badge rounded-pill text-bg-success">rating: '+ val +'</span>')
            } else {
                document.write('<span class="badge rounded-pill text-bg-danger">rating: '+ val +'</span>')
            }
            break;     
    }
  }
</script>
{%- include search.html -%}
<br>
<!-- <h1> Course Reviews </h1> -->
{% assign depts = "CS, ECE, CSE, ISYE, MGT, PUBP, VIP" | split: ", " %}

{% for dept in depts %}
<div class="home">
<!-- table header -->
<h2> Courses from {{ dept }} Department </h2>
<table class='table'>
<tr>
  <th>
    Course ID
  </th>
  <th>
    Aliases
  </th>
  <th>
    Course Name
  </th>
  <th>
    Stats
  </tr>



</tr>

{% for member in site.data.courses %}
  <tr>
  {% if member.deprecated != false and member.department == dept %}
    <td>
      {{ member.id }} 
    </td>
    <td>
      <a href="{{ member.id | relative_url }}"> {{ member.name }} </a>
    </td>  
    <td>
    <!-- {{ page.aliases }} -->
      <script> get_pretty_aliases('{{ member.aliases }}') </script>
    </td>
    <!-- ######## get course stats from pages -->
    <!-- TODO: Better to do it in javascript -->
    {% for page in site.pages %}
      {% if page.course_id == member.id %}
      <td>
        <script> colorize('{{ page.avg_difficulty }}', 'difficulty'); colorize('{{ page.avg_workload }}', 'workload'); colorize('{{ page.avg_rating }}', 'rating'); </script>
      </td>
      {% endif %}
    {% endfor %}
    <!-- ################# -->

  {% endif %}
  </tr>
  {% endfor %}
</table>

{% endfor %}
</div>
