---
layout: default
---
<script>
  // converts aliases str to useful one: '['A1', 'A2']' --> 'A1, A2'
  function get_pretty_aliases(aliases){
    var pretty_aliases = aliases.replace("[", "").replace("]", "")
    var pretty_aliases = pretty_aliases.replaceAll("\"", "")
    document.write(pretty_aliases)
  }
</script>

<h1> Course Reviews </h1>
{% assign depts = "CS, ECE, CSE, ISYE, MGT, PUBP, VIP" | split: ", " %}

{% for dept in depts %}
<div class="home">
<!-- table header -->
<h2> Courses from {{ dept }} Department </h2>
<table>
<tr>
  <th>
    Course ID
  </th>
  <th>
    Course Name
  </th>
  <th>
     Aliases
  </th>
</tr>

{% for member in site.data.courses %}
  <tr>
  {% if member.deprecated != false and member.department == dept %}
    <td>
      {{ member.id }} 
    </td>
    <td>
      <a href="{{ member.id | relative_url }}"> {{ member.name }} </a>
    </td>  
    <td>
      <!-- {{ page.aliases }} -->
      <script> get_pretty_aliases('{{ member.aliases }}') </script>
    </td>
  {% endif %}
  </tr>
  {% endfor %}
</table>

{% endfor %}
</div>
